/* scroll naar beneden om de uitwerking te bekijken */

/* Simpele CSS Remedy */
/* naar een idee van Jen Simmons */
/* https://github.com/jensimmons/cssremedy */
*,
*::after,
*::before {
  box-sizing: border-box;
}

button:not(disabled) {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --general-color: #012;
  --general-background: #fff;

  --header-gradient: linear-gradient(#f8a, #fbd);

  --menu-gradient: linear-gradient(#8af, #bdf);
  --menu-border: #46f;

  --button-color: #fff;
  --button-background: #f46;

  --title-gradient: linear-gradient(#f46 40%, #f8a 80%);
}

/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
  margin: 0;
  background-color: var(--general-background);
  color: var(--general-color);
}

/******************************************************/
/* styling voor de small-screen versie van de website */
/******************************************************/

/*************/
/* DE HEADER */
/*************/
header {
  min-height: 4em;
  padding: 0 1em;
  background-color: black;
  line-height: 1;

  /* JOUW CODE HIER - stap 3 */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* JOUW CODE HIER - stap 3 */
  position: sticky;
  top: 0;
}

/* alle links in de header */
header a {
  padding: 0.5em 0;
  color: white;
  text-decoration: none;
}

/********/
/* LOGO */
/********/
header > a:first-of-type {
  /* om het boek en de titel te positioneren */
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 0.25em;
  align-items: center;

  font-weight: bold;
}

header > a:first-of-type img {
  height: 3em;
}

/**********/
/* FAVO's */
/**********/
header > a:last-of-type {
  /* icon en tekst met gap-je naast elkaar */
  display: flex;
  align-items: center;
  column-gap: 0.25em;
  margin-right: auto;
  z-index: 100000000;
}

/* link icon */
header > a:last-of-type img {
  width: auto;
  height: 2em;
}

/************/
/* HET MENU */
/************/
nav {
  /* JOUW CODE HIER - stap 3 */
  order: 1;
}

/***************/
/* MENU BUTTON */
/***************/
nav button {
  padding: 0.5em;

  /* icon en tekst met gap-je naast elkaar */
  display: flex;
  align-items: center;
  gap: 0.25em;

  /* standaard styling aanpassen */
  appearance: none;
  background-color: grey;
  border: none;
  border-radius: 0.25em;
  font: inherit;
  text-align: center;
  color: var(--button-color);

  /* JOUW CODE HIER - stap 5 */
  position: relative;
  z-index: 100000;
}

nav button img {
  height: 1em;
}

/* als menu open is */
nav.toonMenu button img {
  /* JOUW CODE HIER - stap 5 */
  /* url kruisje: https://assets.codepen.io/274456/ui-icon-cross.svg */
  content: url("https://assets.codepen.io/274456/ui-icon-cross.svg");
}

/*******************/
/* LIJST MET LINKS */
/*******************/
nav ul {
  margin: 0;
  padding: 4em 1em 0;
  list-style: none;

  /* display: flex; */
  flex-wrap: wrap;
  gap: 1em;
  align-content: start;

  background: black;

  /* JOUW CODE HIER - stap 1 */
  position: fixed;
  /*   top:0;
  bottom:0;
  left:0;
  right:0; */

  inset: 0;

  /* JOUW CODE HIER - stap 2 */
  translate: 100%;
  /*   translate: -0 60%;
 */

  /* JOUW CODE HIER - stap 4 */
  transition: 0.25s;
}

/* als menu open is */
nav.toonMenu ul {
  /* JOUW CODE HIER - stap 4 */
  translate: 0%;
}

nav li {
  flex-basis: 9em;
  flex-grow: 1;
}

/************************/
/* EEN LINK IN DE LIJST */
/************************/
nav a {
  /* icon en tekst met gap-je naast elkaar */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25em;

  border: solid 1px var(--menu-border);
}

nav a img {
  width: auto;
  height: 2em;
}

nav a.active {
  font-weight: bold;
}

/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
@media (min-width: 38em) {
  nav {
    /* JOUW CODE HIER - stap 8 */
    order: 0;
  }

  nav button {
    /* JOUW CODE HIER - stap 6 */
    display: none;
  }

  nav ul {
    /* JOUW CODE HIER - stap 7 */
    display: flex;
    position: static;
    translate: none;
    background: none;
    padding: 0;
  }

  nav li {
    /* JOUW CODE HIER - stap 9 */
    flex-basis: 0;
    flex-grow: 0;
  }

  nav a {
    /* JOUW CODE HIER - stap 10 */
    flex-direction: column;
    border: none;
  }

  header > a:last-of-type {
    /* JOUW CODE HIER - stap 10 */
    flex-direction: column;
  }
}

/****************************************************************/
/* styling voor de header als de browser minimaal 57em breed is */
/****************************************************************/
@media (min-width: 54em) {
  header > a:last-of-type,
  nav a {
    /* JOUW CODE HIER - stap 11 */
    flex-direction: row;
  }
}

/***********/
/* CONTENT */
/***********/

/* riot logo */
header > button svg {
  /* fill: var(--lichte-tekst); */
  fill: white;
  cursor: pointer;
}

header > button svg:hover {
  fill: red;
}

/* riot logo button styling weg */
header > button:first-child {
  background: none;
  border: none;
}

/* taal kiezen button */
header > button:last-of-type {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.65rem;
}

header > button:last-of-type:hover {
  background: var(--header-hover);
}

header > button:last-of-type svg {
  fill: white;
  width: 1.5rem;
  height: 1.5em;
  vertical-align: middle;
}

/* header > button:first-child {
  order: 1;
}

nav {
  order: 2;
} */
