/* hero sectie */
main section:nth-of-type(1) {
  min-height: 40rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;
}

/* kleuren overlay */
section:nth-of-type(1) > div {
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: -1;

  background: #121824;
  background: linear-gradient(
    359deg,
    rgba(18, 24, 36, 1) 20%,
    rgba(15, 18, 31, 0.15) 100%
  );
}

/* hero video */
section > video {
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;
}

/* logo  */
main section:nth-of-type(1) img {
  height: 8em;
}

/* button hero */
main section:nth-of-type(1) button {
  padding: 1.25rem 1.5rem;

  background-color: var(--goud);
  color: var(--donker-blauw);

  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;

  border: 1px solid transparent;
  outline: 1px solid white;
  outline-offset: 3px;

  cursor: pointer;
  transition: all 0.4s ease;
}

/* Hover-effect */
section button:first-of-type:hover {
  background-color: #eecc87;
}

/* spirit sectie */
section:nth-of-type(2) {
  min-height: 640px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  background-image: url("../images/spirit.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  gap: 0.75rem;

  color: var(--lichte-tekst);
}

section:nth-of-type(2) h2 {
  font-size: clamp(3rem, 5vw, 3rem);
}

/* mobiel langere button */
@media (max-width: 600px) {
  section:nth-of-type(2) {
    align-items: stretch;
  }
}

/* link button seizoenen sectie */
section:nth-of-type(2) a {
  margin-top: 2rem;
  padding: 1.25rem 1.5rem;

  background-color: var(--goud);
  color: var(--donker-blauw);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Spiegel", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.4s ease;
}

section:nth-of-type(2) a:hover {
  background-color: #eecc87;
}

/* nieuws sectie */
section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.5rem;

  color: var(--donkere-tekst);

  background-image: url("../images/wit-patroon.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  section:nth-of-type(3) {
    background: none;
    background-color: var(--donker-blauw);
  }
}

/* h3 & view all container */
section:nth-of-type(3) > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* view all link */
section:nth-of-type(3) div a {
  text-transform: uppercase;
  text-decoration: none;

  color: var(--donkere-tekst);
  font-size: clamp(1rem, 2vw, 1.125rem);

  font-family: "Spiegel";

  transition: 0.2s;
}

/* hover view all */
section:nth-of-type(3) div a:hover {
  color: grey;
}

section:nth-of-type(3) div span {
  display: flex;
  gap: 0.75rem;
}

/* svg link naast view all */
section:nth-of-type(3) > div svg {
  color: var(--goud);
  cursor: pointer;
  width: 1rem;
}

section:nth-of-type(3) article {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

/* nieuws foto img container */
section:nth-of-type(3) div {
  position: relative;
  overflow: hidden;
}

/* nieuws fotos */
section:nth-of-type(3) .nieuws-foto {
  display: block;

  width: 100%;
  transition: transform 0.3s ease;
}

.yolo {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 3rem;
  z-index: 100;
}

section:nth-of-type(3) .nieuws-foto:hover {
  transform: scale(1.1);
}

/* categorie */
section:nth-of-type(3) article span {
  font-family: "MarkPro";
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--goud);

  margin-top: 1rem;
}

/* datum */
time {
  font-family: "Spiegel", sans-serif;
  margin-left: 0.75rem;
  color: var(--donkere-tekst);
}

/* artikel body tekst */
section:nth-of-type(3) p {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

/* artikel body dat eig een link is */
section:nth-of-type(3) li a {
  text-decoration: none;
  color: var(--donkere-tekst);
}

/* nieuws ul */
section ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
  section ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  section ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* choose your champion sectie */
section:nth-of-type(4) {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-image: url(../images/assasin-bg-grijs.png);
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: dark) {
  section:nth-of-type(4) {
    color: white;
    background: none;
    background-color: var(--donker-blauw);
  }
}

@media (max-width: 1300px) {
  section:nth-of-type(4) {
    flex-direction: column;
  }
}

section:nth-of-type(4) img {
  max-width: 100%;
}

/* tekst container */
section:nth-of-type(4) > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 100%; /* nooit breder dan de viewport/sectie */
}

@media (max-width: 1300px) {
  section:nth-of-type(4) > div:first-of-type {
    align-items: stretch;
  }
}

/* link buttons container */
section:nth-of-type(4) > div:first-of-type > div {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 2rem;
  width: 100%;
}

/* 2 link buttons  */
section:nth-of-type(4) a {
  display: inline-block;

  padding: 1.25rem 1.5rem;
  background-color: var(--goud);
  color: var(--donker-blauw);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Spiegel", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.4s ease;
}

@media (max-width: 900px) {
  section:nth-of-type(4) > div:first-of-type > div {
    flex-direction: column;
  }
}

section:nth-of-type(4) a:hover {
  background-color: #eecc87;
}

/* tweede blauwe button */
section:nth-of-type(4) a:last-of-type {
  background-color: var(--licht-blauw);
}

section:nth-of-type(4) a:last-of-type:hover {
  background-color: #59c1dec2;
}

section:nth-of-type(4) div figure {
  cursor: pointer;
  transition: transform 0.3s ease; /* vloeiende overgang */
}

/* alles behalve de eerste figure muted maken */
section:nth-of-type(4) ul li:not(:first-child) figure {
  filter: brightness(50%);
}

/* deze code laat het meer lijken op de originele maar ik vond mijn ding beter */
/* section:nth-of-type(4) li:nth-of-type(n + 2) img {
  filter: brightness(50%);
} */

section:nth-of-type(4) ul li:not(:first-child) figure:hover {
  transform: scale(1.1);
}

/* categorieen ikonen champs */
section:nth-of-type(4) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  max-width: 100%;
  margin-top: 2rem;
}

/* categorie tekst */
li figure figcaption {
  font-family: "Spiegel";
  font-size: clamp(0.8rem, 2vw, 0.8rem);
  text-transform: uppercase;
}

section > figure:last-of-type > figcaption {
  font-family: "Spiegel";
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  color: rgb(82, 82, 82);
  margin-top: 1rem;
}

/* champion figure */
@media (max-width: 900px) {
  section > figure:last-of-type > img {
    width: 100%;
  }
}

/* slay with style sectie */
section:nth-of-type(5) {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3rem;

  background-image: url("../images/bos.avif");
  background-size: cover;
  background-position: center;

  color: var(--lichte-tekst);
}

@media (max-width: 900px) {
  section:nth-of-type(5) {
    flex-direction: column-reverse;
  }
}

h2 span {
  font-size: 1.25rem;
}

/* akali skin img */
section:nth-of-type(5) img {
  width: 40vw; /* schaalt mee met het scherm */
}

@media (max-width: 900px) {
  section:nth-of-type(5) img {
    width: 90vw; /* schaalt mee met het scherm */
  }
}

/* tekst blok */
section:nth-of-type(5) div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.6rem;
}

/* lange button voor mobiel */
@media (max-width: 900px) {
  section:nth-of-type(5) a {
    align-self: stretch;
  }
}

/* link button  */
section:nth-of-type(5) a {
  display: inline-block;
  padding: 1.25rem 1.5rem;
  background-color: var(--goud);
  color: var(--donker-blauw);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Spiegel", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  margin-top: 1rem;

  cursor: pointer;
  transition: all 0.4s ease;
}

section:nth-of-type(5) a:hover {
  background-color: #eecc87;
}

/* multiple ways to play*/
section:nth-of-type(6) {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--lichte-tekst);
  text-align: center;

  background-image: url(../images/onduidelijke-bg.avif);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1300px) {
  section:nth-of-type(6) {
    flex-direction: column;
  }
}

section:nth-of-type(6) p:first-of-type {
  text-transform: uppercase;
}

/* tekst container */
section:nth-of-type(6) > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 100%; /* nooit breder dan de viewport/sectie */
}

/* link buttons container */
section:nth-of-type(6) > div:first-of-type > div {
  display: flex;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}

/* link button  */
section:nth-of-type(6) a {
  display: inline-block;

  padding: 1.25rem 1.5rem;
  background-color: var(--goud);
  color: var(--donker-blauw);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Spiegel", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.4s ease;
}

@media (max-width: 900px) {
  section:nth-of-type(6) > div:first-of-type > div {
    flex-direction: column;
  }
}

section:nth-of-type(6) a:hover {
  background-color: #eecc87;
}

/* container lijst */
section:nth-of-type(6) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  margin-top: 2rem;
}

/* 3 gamemode ikonen */
section:nth-of-type(6) li {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* inactive */
section:nth-of-type(6) li:not(:first-child) {
  opacity: 50%;
}

/* alle figures */
section:nth-of-type(6) figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1rem;
  transition: transform 0.3s ease; /* vloeiende overgang */
}

/* video figure */
section:nth-of-type(6) > figure {
  gap: 0;
}

/* hover effect */
section:nth-of-type(6) li:not(:first-child) figure:hover {
  transform: scale(1.1); /* vergroot het element met 5% */
}

@media (max-width: 900px) {
  section:nth-of-type(6) figure {
    width: 100%;
  }
}

/* ronde video */
section:nth-of-type(6) video {
  width: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  display: block;

  outline: 1px solid var(--goud);
  outline-offset: 1.5rem;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* foto tekst beschrijving */
section:nth-of-type(6) h5 {
  color: var(--lichte-tekst);
}

section:nth-of-type(6) > figure:last-of-type > figcaption {
  font-family: "Spiegel";
  color: var(--lichte-tekst);
  margin-top: 1rem;
  opacity: 90%;
}

/* gamemode video */
@media (max-width: 900px) {
  section:nth-of-type(6) video {
    width: 85%;
  }
}

/* laatste sectie */
section:nth-of-type(7) {
  position: relative;
  min-height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* laatste sectie video */
section:nth-of-type(7) > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* button */
section:nth-of-type(7) button {
  padding: 1.25rem 1.5rem;
  background-color: var(--goud);
  color: var(--donker-blauw);
  border: none;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Spiegel", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.4s ease;
}

/* Hover-effect */
section:nth-of-type(7) button:hover {
  background-color: #eecc87;
}
