/* fonts */

/* headings */
@font-face {
  font-family: "Beaufort";
  src: url("../fonts/BeaufortforLOL-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

/* body */
@font-face {
  font-family: "Spiegel";
  src: url("../fonts/Spiegel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* nav */
@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Bold.woff2") format("woff2");
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --lichte-tekst: white;
  --donkere-tekst: rgb(10, 20, 40);
  --header-bg: #141212;
  --header-hover: #333333;
  --header-border: #1f1f1f;
  --footer-licht: #292929;
  --footer-border: #363636;
  --gele-button: #c8aa6e;
  --blauwe-button: rgb(11, 196, 226);
}

/****************/
/* JOUW STYLING */
/****************/

/* typografie */
h2 {
  font-size: clamp(2rem, 5vw, 3rem); /* tussen 32px en 48px */
  font-family: "Beaufort", serif;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem); /* tussen 24px en 32px */
  font-family: "Beaufort", serif;
  text-transform: uppercase;
}

h4 {
  font-size: clamp(1.2rem, 2.5vw, 1.375rem); /* tussen ~19px en 22px */
  font-family: "MarkPro";

  margin-top: 10px; /* zelfde margin als bij article */

  color: var(--donkere-tekst);
}

h5 {
  font-size: clamp(1.2rem, 2.5vw, 1.375rem); /* tussen ~19px en 22px */
  font-family: "Beaufort", serif;
  text-transform: uppercase;

  color: var(--donkere-tekst);
}

p {
  font-size: clamp(1rem, 2vw, 1.125rem); /* tussen 16px en 18px */
  line-height: 1.6;
  max-width: 700px;

  font-family: "Spiegel", sans-serif;
}

/* dingen verbergen voor toegankelijk */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  border-bottom: var(--header-border);
  background-color: var(--header-bg);
  color: var(--lichte-tekst);
  gap: 2rem;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* riot logo */
header > button svg {
  fill: var(--lichte-tekst);
  cursor: pointer;
}

header > button svg:hover {
  fill: red;
}

/* riot logo button styling weg */
header > button:first-child {
  background: none;
  border: none;
}

header > a img {
  width: 2rem;
}

/* hamburger button */
header section button:nth-of-type(3) {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* hamburger image */
header section button img {
  width: 2rem;
}

/* voor kleine schermem */
@media (max-width: 1485px) {
  header nav {
    display: none;
  }

  header section form {
    display: none;
  }

  /* playnow */
  header section button:nth-of-type(2) {
    display: none;
  }

  /* hamburger */
  header section button:nth-of-type(3) {
    display: inline;

    font-size: 1.1rem;
    color: white;

    padding: 0.8rem;
    border-radius: 1.2rem;

    background-color: var(--header-hover);
  }
}

/* league logo */
header > a {
  font-size: 1.2rem;
  color: var(--primary);
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* navigatie tekst */
header nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--lichte-tekst);
  font-weight: 500;
  font-size: 0.8rem;
  font-family: "MarkPro";
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}

header nav li a:hover {
  color: var(--gele-button);
  background-color: var(--header-hover);
}

/* container search, taal & playnow */
header section {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: auto;
  height: 2.6rem;
}

/* search */
form {
  display: flex;
  height: 100%;
}

form input {
  padding: 0.55rem;
  border: none;
  border-radius: 0.65rem;
  background-color: var(--header-hover);
  text-transform: uppercase;
  font-family: "MarkPro";
  caret-color: var(--lichte-tekst);
}

/* taal kiezen button */
header section button:first-of-type {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.65rem;
}

header section button:first-of-type:hover {
  background: var(--header-hover);
}

header section button:first-of-type svg {
  fill: white;
  width: 1.5rem;
  height: 1.5em;
  vertical-align: middle;
}

@media (max-width: 1485px) {
  header section button:first-of-type svg {
    width: 2rem;
    height: 2rem;
  }
}

/* play now button */
header section button:nth-of-type(2) {
  padding: 0.5rem 0.9rem;
  background: var(--blauwe-button);
  border: none;
  color: var(--donkere-tekst);
  text-transform: uppercase;
  border-radius: 0.65rem;
  cursor: pointer;
  font-weight: bold;
}

header section button:nth-of-type(2):hover {
  color: grey;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 100vw;

  background-color: var(--header-bg);
  color: var(--lichte-tekst);
  gap: 2rem;
}

footer nav:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: var(--footer-licht);
  border-top: 2px solid var(--footer-border);
}

footer nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0;
}

/* social media ul */
footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

footer ul svg {
  width: 1.25rem;
}

footer ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

/* social media icon padding */
footer > ul li {
  padding: 0.5rem;
  border-radius: 35%;
  background-color: var(--header-hover);
}

@media (max-width: 1300px) {
  footer nav ul {
    flex-direction: column;
  }
}

/* footer list */
footer nav li {
  list-style: none;
}

/* footer nav links */
footer nav li a {
  font-family: "MarkPro";
  font-size: 13px;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;

  color: var(--lichte-tekst);
  text-transform: uppercase;
  text-decoration: none;
}

footer nav li a:hover {
  background-color: var(--header-hover);
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* kopieriht */
footer p {
  font-size: 0.75rem;
  text-align: center;
  color: grey;
  margin: 0 3rem;
}

/* pegi logo's */
footer div {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* social media icons */
footer ul svg {
  fill: white;
  cursor: pointer;
}

/* riot logo */
footer > a svg {
  fill: grey;
  cursor: pointer;
}

footer > a svg:last-of-type:hover {
  fill: white;
}
