/* fonts */

/* headings */
@font-face {
  font-family: "Beaufort";
  src: url("../fonts/BeaufortforLOL-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

/* body */
@font-face {
  font-family: "Spiegel";
  src: url("../fonts/Spiegel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* nav */
@font-face {
  font-family: "MarkPro";
  src: url("../fonts/MarkPro-Bold.woff2") format("woff2");
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --lichte-tekst: white;
  --donkere-tekst: rgb(10, 20, 40);
  --header-bg: #141212;
  --header-hover: #333333;
  --header-border: #1f1f1f;
  --gele-button: #c8aa6e;
  --blauwe-button: rgb(11, 196, 226);
}

/****************/
/* JOUW STYLING */
/****************/

/* dingen verbergen voor toegankelijk */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;

  width: 100%;
  max-width: 100vw;

  background-color: var(--header-bg);
  color: var(--lichte-tekst);
  border-bottom: 2px solid var(--header-border);

  padding: 1.25rem;
}

nav {
  display: flex;
  align-items: center;
}

/* header riot logo */
nav > img:first-of-type {
  width: 5rem;
}

/* header league logo */
nav img:nth-of-type(2) {
  width: 2rem;
}

nav ul {
  display: flex;
  gap: 1.25rem;
}

/* header list */
nav li {
  list-style: none;
}

/* header nav links */
nav li a {
  font-family: "MarkPro";
  font-size: 13px;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;

  color: var(--lichte-tekst);
  text-transform: uppercase;
  text-decoration: none;
}

nav li a:hover {
  color: var(--gele-button);
  background-color: var(--header-hover);
}

/* zoeken, taal & playnow container */
header div {
  display: flex;
}

/* formulier */
form[role="search"] input {
  background-color: var(--header-hover);
  color: var(--lichte-tekst);

  font-family: "MarkPro";
  font-size: 16px;
  padding: 0.75em;

  border-radius: 0.75em;
  border: none;
}

form button {
  background-color: var(--header-hover);

  border: none;
  padding: 0.75em;
  border-radius: 0.75em;

  cursor: pointer;
}

/* header language select button */
header button:has(img) {
  padding: 0.75em;
  border-radius: 0.75em;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

header button:has(img):hover {
  background-color: var(--header-hover);
}

header button img {
  width: 1rem; /* gewenste breedte */
  height: auto; /* houdt de verhoudingen goed */

  display: block; /* voorkomt inline spacing issues */
}

/* header playnow button */
header button:nth-of-type(2) {
  padding: 0.25rem 1.25rem;
  border-radius: 0.75rem;
  border: none;

  text-transform: uppercase;
  font-weight: bold;

  background-color: var(--blauwe-button);

  cursor: pointer;
  transition: 0.2s;
}

header button:nth-of-type(2):hover {
  color: grey;
}

/* hero sectie */
section:nth-of-type(1) {
  min-height: 640px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;
}

/* hero video */
section > video {
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;
}

section:nth-of-type(1) img {
  height: 150px;
}

/* button hero */
section:nth-of-type(1) button {
  padding: 1.25rem 1.5rem;

  background-color: var(--gele-button);
  color: var(--donkere-tekst);

  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;

  border: 1px solid transparent;
  outline: 1px solid white;
  outline-offset: 3px;

  cursor: pointer;
  transition: all 0.4s ease;
}

/* Hover-effect */
section button:first-of-type:hover {
  background-color: #eecc87;
}

/* spirit sectie */
section:nth-of-type(2) {
  min-height: 640px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  background-image: url("../images/spirit.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  gap: 0.75rem;
  padding: clamp(2rem, 10vw, 12rem);

  color: var(--lichte-tekst);
}

@media (max-width: 900px) {
  section:nth-of-type(2) {
    padding: clamp(2rem, 5vw, 12rem);
  }
}

/* mobiel langere button */
@media (max-width: 600px) {
  section:nth-of-type(2) {
    align-items: stretch;
  }

  header nav ul {
    display: none;
  }

  header div {
    display: none;
  }
}

/* link button spirit */
section:nth-of-type(2) a {
  margin-top: 2rem;
  padding: 1.25rem 1.5rem;

  background-color: var(--gele-button);
  color: var(--donkere-tekst);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Spiegel", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  outline-offset: 3px;
  cursor: pointer;
  transition: all 0.4s ease;
}

section:nth-of-type(2) a:hover {
  background-color: #eecc87;
}

/* typografie */
h2 {
  font-size: clamp(2rem, 5vw, 3rem); /* tussen 32px en 48px */
  font-family: "Beaufort", serif;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem); /* tussen 24px en 32px */
  font-family: "Beaufort", serif;
  text-transform: uppercase;
}

h4 {
  font-size: clamp(1.2rem, 2.5vw, 1.375rem); /* tussen ~19px en 22px */
  font-family: "MarkPro";

  margin-top: 10px; /* zelfde margin als bij article */

  color: var(--donkere-tekst);
}

p {
  font-size: clamp(1rem, 2vw, 1.125rem); /* tussen 16px en 18px */
  line-height: 1.6;
  max-width: 700px;

  font-family: "Spiegel", sans-serif;
}

/* nieuws sectie */
section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.5rem; /* flex voor gap nu */
  padding: clamp(2rem, 10vw, 12rem);

  color: var(--donkere-tekst);

  background-image: url("../images/wit-patroon.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  section:nth-of-type(3) {
    padding: clamp(2rem, 5vw, 12rem);
  }
}

/* h3 & view all container */
section:nth-of-type(3) div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* view all link */
section:nth-of-type(3) div a {
  text-transform: uppercase;
  text-decoration: none;

  color: var(--donkere-tekst);
  font-family: "Spiegel";

  transition: 0.2s;
}

section:nth-of-type(3) div a:hover {
  color: grey;
}

/* nieuws fotos */
section:nth-of-type(3) img {
  width: 100%;
  object-fit: cover;
}

/* ruimte tussen elementen */
article > * {
  margin-bottom: 10px;
}

/* categorie */
span {
  font-family: "MarkPro";
  font-size: 13px;
  text-transform: uppercase;
  color: var(--gele-button);
}

/* datum */
time {
  font-size: 13px;
  font-family: "Spiegel", sans-serif;
}

/* artikel body tekst */
section:nth-of-type(3) p {
  font-size: 16px;
}

/* artikel body dat eig een link is */
section:nth-of-type(3) li a {
  text-decoration: none;
  color: var(--donkere-tekst);
}

/* nieuws ul */
section ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
  section ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  section ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* choose your champion sectie */
section:nth-of-type(4) {
  display: flex;
  align-items: center;

  text-align: center;

  padding: clamp(2rem, 10vw, 12rem);
}

@media (max-width: 1300px) {
  section:nth-of-type(4) {
    flex-direction: column;
  }
}

/* tekst container */
section:nth-of-type(4) > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 100%; /* nooit breder dan de viewport/sectie */
}

/* link buttons container */
section:nth-of-type(4) > div:first-of-type > div {
  display: flex;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}

/* 2 link buttons  */
section:nth-of-type(4) a {
  display: inline-block;

  padding: 1.25rem 1.5rem;
  background-color: var(--gele-button);
  color: var(--donkere-tekst);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Spiegel", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.4s ease;
}

@media (max-width: 900px) {
  section:nth-of-type(4) > div:first-of-type > div {
    flex-direction: column;
  }
}

section:nth-of-type(4) a:hover {
  background-color: #eecc87;
}

/* tweede blauwe button */
section:nth-of-type(4) a:last-of-type {
  background-color: var(--blauwe-button);
}

section:nth-of-type(4) a:last-of-type:hover {
  background-color: rgb(93, 233, 255);
}

/* categorieen ikonen champs */
section:nth-of-type(4) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

/* categorie tekst */
li figure figcaption {
  font-family: "Spiegel";
  font-size: 14px;
  text-transform: uppercase;
}

section > figure:last-of-type > figcaption {
  font-family: "Spiegel";

  color: grey;
}

/* champion figure */
@media (max-width: 900px) {
  section > figure:last-of-type > img {
    width: 100%;
  }
}

/* slay with style sectie */
section:nth-of-type(5) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: clamp(2rem, 10vw, 12rem);

  background-image: url("../images/bos.avif");
  background-size: cover;

  color: var(--lichte-tekst);
}

@media (max-width: 900px) {
  section:nth-of-type(5) {
    flex-direction: column-reverse;
  }
}

/* ginger foto */
section:nth-of-type(5) img {
  width: 40vw; /* schaalt mee met het scherm */
}

/* slay with style sectie */
section:nth-of-type(5) div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* link buttons  */
section:nth-of-type(5) a {
  display: inline-block;

  padding: 1.25rem 1.5rem;
  background-color: var(--gele-button);
  color: var(--donkere-tekst);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Spiegel", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.4s ease;
}

section:nth-of-type(5) a:hover {
  background-color: #eecc87;
}
